body {
  color: #ccc;
  background-color: #000;
  font-family: 'HelveticaNeueW01-65Medi', 'HelveticaNeueW02-65Medi', 'HelveticaNeueW10-65Medi', 'Tahoma', 'Helvetica', sans-serif;
  font-size: 16;
}
iframe,
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a {
  color: #0f0;
}
h2,
h3,
h4,
h5 {
  clear: both;
  color: #88f;
  padding-top: 0.5em;
}
code {
  font-size: 16px;
}
strong {
  color: #0ff;
}
td,
th {
  padding-left: 1em;
}
th {
  text-align: left;
}
.itemised img {
  margin-right: 1em;
}
.img-list img {
  margin-bottom: 1em;
  float: left;
}
.clear {
  clear: both;
}
