<h2>Your browser capabilities</h2>
<p data-bind="text:status_summary(), visible:status_summary()" class="status-summary"></p>
<table>
	<thead>
		<tr>
			<th>Feature</th>
			<th>Present</th>
			<th>Required</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody data-bind="foreach:_features">
		<tr data-bind="attr: { class:'runability-' + $root.get_runability_by_feature(id) }">
			<td>
				<span data-bind="text:display_name" />
			</td>
			<td>
				<span data-bind="text:$root.is_feature_present(id)?'Yes':'No'" />
			</td>
			<td>
				<span data-bind="text:is_needed?'Yes':'No'" />
			</td>
			<td>
				<span data-bind="text:$root.status_feature(id)" />
			</td>
		</tr>
	</tbody>
</table>