body {
  background: #fff;
  color: #000;
  margin: 1em;
}
fieldset {
  margin-top: 1em;
}
input {
  margin-right: 0.5em;
  width: 5em;
}
input[type='text'] {
  font-weight: bold;
  text-align: right;
}
.field {
  margin-bottom: 0.5em;
}
