body {
  background: #fff;
  color: #000;
  margin: 1em;
}
fieldset {
  margin-top: 1em;
}
input {
  margin-right: 0.5em;
  width: 5em;
}
input[type='checkbox'] {
  width: 1em;
}
input[type='text'] {
  font-weight: bold;
  text-align: right;
}
#dh,
#sag,
#sigma_u-perc {
  font-weight: bold;
}
#rho_w {
  width: 8em;
}
#version {
  float: right;
  font-size: 90%;
}
.alert {
  color: #f00;
}
.field-text {
  margin-bottom: 0.5em;
}
.field-text .units:after {
  content: '. ';
}
.help .btn:before {
  content: ' [';
}
.help .btn:after {
  content: ']';
}
.help .link {
  color: #00f;
  cursor: pointer;
}
.help .text {
  background: #ff0;
}
.help.closed .open {
  display: none;
}
.help.open .closed {
  display: none;
}
.hide {
  display: none;
}
